/*
 * Copyright 2020 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Styles used by the inactive popup page.
 */

body {
  width: 200px;
  color: white;
  background-color: #73777b;
}

a {
  color: white;
}
